<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A New User</title>
  </head>
  <body>
    <h1>ADD a User :</h1>
    <form action="/c" method="POST">
      <label for="f_name">First Name:</label>
      <input type="text" name="f_name" />
      <label for="l_name">Last Name:</label>
      <input type="text" name="l_name" />
      <label for="email">Email:</label>
      <input type="text" name="email" />
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
