<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show User</title>
  </head>
  <body>
    <h1>{{user.f_name}} {{user.l_name}} :</h1>

    <h2 for="f_name">First Name: {{user.f_name}}</h2>

    <h2 for="l_name">Last Name: {{user.l_name}}</h2>

    <h2 for="email">Email: {{user.email}}</h2>

    <h2 for="created_at">Created At: {{user.created_at}}</h2>
  </body>
</html>
